<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ConfigurationTestExecutable.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>CouchDBSample.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>todoApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>todoApp.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_1287</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1289</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1294</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1354</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1356</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1361</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1421</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1424</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1432</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_371</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_373</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_378</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_380</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_385</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_387</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_389</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_394</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_396</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_398</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_403</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_445</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_447</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_452</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_460</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_462</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_467</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_468</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_470</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_475</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_477</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_482</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_539</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_541</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_546</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_549</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_551</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_556</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_560</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_562</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_567</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_574</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_576</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_581</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_585</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_587</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_592</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_610</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_612</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_617</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_633</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_635</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_640</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_649</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_651</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_656</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_677</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_679</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_684</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_707</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_709</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_714</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_723</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_725</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_730</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_737</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_739</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_744</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_781</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_783</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_785</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_787</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_788</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_789</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_790</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_791</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_792</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_793</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_794</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_795</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_796</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_798</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_800</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_831</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_833</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_838</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_870</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_872</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_874</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_877</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_879</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_923</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_925</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_930</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
